<%- include("partials/header.ejs") %>


<!-- Pricing -->
<%- include("Pricing.ejs") %>



<!-- Contractt form -->

<%- include("contract.ejs") %>

    <div class="s1">
        <h1>
            Festava Live
        </h1>
        <div>
            <ul class="social_icon1">
                <li><a href="#"><ion-icon name="logo-facebook" style="color: aliceblue;"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter" style="color: aliceblue;"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin" style="color: aliceblue;"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram" style="color: aliceblue;"></ion-icon></a></li>
            </ul>
        </div>
    </div>

     <div class="links">
            <div class="links-footer container">
            <p class="p">Links</p>
            <ul class="menu" >
                <li><a href="#" style="color: aliceblue;">Home</a></li>
                <li><a href="#" style="color: aliceblue;">About</a></li>
                <li><a href="#" style="color: aliceblue;"> Artists</a></li>
                <li><a href="#" style="color: aliceblue;">Schedule</a></li>
                <li><a href="#" style="color: aliceblue;">Pricing</a></li>
                <li><a href="#" style="color: aliceblue;">Contact</a></li>
            </ul>
            </div>
            <div class="footer-question container">
                <p class="p">Have a question?</p>
                <p>090-080-0760</p>
                <p><a href="#">hello@company.com</a></p>
            </div>
            <div class="footer-contract container">
                <p class="p">Location</p>
                <p>Silang Junction South, Tagaytay,<br> Cavite, Philippines</p>
                <p><a href="#">Our Maps <i class="fa-solid fa-chevron-right"></i></a></p>
            </div>
    </div>
            
<%- include("partials/footer.ejs") %>