<div class="Pricing" >
        <h1>Plans, you' love</h1>
        <div class="item-selection">
            <div class="item-Pricing">
                <span class="header-item"><h4>Early Bird</h4><h3> $120</h3></span>
                <p class="item-p">Including good things:</p>        
                <ul class="item-layout">
                    <li class="item-li item-p">platform for potential customers</p>
                    <li class="item-li item-p">digital experience</p>
                    <li class="item-li item-p">high-quality sound</p>
                    <li class="item-li item-p">standard content</p>
                </ul>
                <a href="/buyTicket"><div class="buyTicket-Pricing">Buy Ticket <i class="fa-solid fa-chevron-right"></i></div></a>
            </div>
            <div class="item-Pricing">
                <span class="header-item"><h4>Standard</h4><h3> $240</h3></span>
                <p class="item-p">What makes a premium festava?</p>
                <ul class="item-layout">
                    <li class="item-li item-p">platform for potential customers</p>
                    <li class="item-li item-p">digital experience</p>
                    <li class="item-li item-p">high-quality sound</p>
                    <li class="item-li item-p">premium content</p>
                    <li class="item-li item-p">live chat support</p>
                </ul>
                <a href="/buyTicket"><div class="buyTicket-Pricing">Buy Ticket <i class="fa-solid fa-chevron-right"></i></div></a>
            </div>
        </div>
</div>