html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* header{
  flex: 0 0 auto;
  background-color: #3586ff;
} */


header,
footer{
  flex: 0 0 auto;
  background-color: #212121;
}

header{
  position: fixed;
  width: 100vw;
  height: auto;
}

main {
  text-align: center;
  flex: 1 0 auto; 
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding: 5px;
}

p {
  color: grey;
}

.profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
form {
  margin-top: 50px;
}

.feedback-input {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #ff7f35;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 80%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #ff7f35;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
li{
  list-style: none;
}

[type="submit"] {
  width: 50%;
  background: #ff7f35;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #f35e08;
}
